# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/
.flaskenv

# Logs and databases
*.log
*.sqlite3
*.pcap

# Task files
*.json

# Backup files
*~

#Certificate files
*.pem

#Note files
*_notes.md
*_NOTES.md

#Specific files
socket_learning.py
banner_grabber.py
live_capture.py
capture_lo_icmp.sh
tomorrow.md
final_banner_grabber.py
week3/*.py
week3/*.md
week3/dsa/graphs/GRAPHS.md
week3/dsa/*.md
TrackingForMe/APP_IDEA_NOTES.md
CVE_scanner_addition.md
summer_2025_roadmap.md
config.py
dsa_checklist.md
dsa_stretch_goals.md